<div fxLayout="row" fxLayoutAlign="space-between center">
    <h2>Listado de ciudades</h2>
    <button mat-button color="accent" (click)="goToCreate()">
        <mat-icon>add_circle_outline</mat-icon>
        Nueva ciudad</button>
</div>

<table mat-table [dataSource]="ciudades" class="listado mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="population">
      <th mat-header-cell *matHeaderCellDef> Habitantes </th>
      <td mat-cell *matCellDef="let element"> {{element.population}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef> País </th>
        <td mat-cell *matCellDef="let element"> ({{element.country.code}}) {{element.country.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button (click)="goToEdit(element.id)">
                <mat-icon>edit</mat-icon>
            </button>    
            <button color="warn" mat-icon-button (click)="deleteCity(element)">
                <mat-icon>delete_outline</mat-icon>
            </button>    
        </td>
      </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>