
  <div *ngIf="!!color" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
    <h2>Color:</h2>
    <div class="my-color" [style.backgroundColor]="color"></div>
  </div>

  <color-picker [currentColor]="color" (changeColor)="colorCambiado($event)"></color-picker>
