<div class="container" fxLayout="column" fxLayoutGap="10px">
  <h1>{{ title }}</h1>

  <div fxLayout="row" fxLayoutGap="10px">
    <a mat-button *ngFor="let ruta of rutas" [routerLink]="ruta.link">{{ruta.label}}</a>
  </div>

  <hr>
  <router-outlet></router-outlet>
</div>

<p class="prueba1"></p>