

$color_mio: red;

.container {
    min-width: 50%;
    max-width: fit-content;
    border: 1px solid grey;
    background-color: #fefefe;
    border-radius: 10px;
    padding: 16px;

    .prueba1 {
        color: $color_mio;
    }
}
