<div fxLayout="column" fxLayoutGap="16px">
<div  fxLayout="row" fxLayoutGap="6px" fxLayoutAlign="start center">
    <div class="single-color" 
      [style.borderColor]="selectedColor(c)"  
      [style.backgroundColor]="c" *ngFor="let c of colores"></div>
  
      <button mat-icon-button (click)="cambiaColor()">
        <mat-icon>palette</mat-icon>
      </button>
    </div>
  
</div>