<h2>{{title}}</h2>

<form [formGroup]="form" (ngSubmit)="guardar()">

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">

        <mat-form-field>
            <mat-label>Nombre ciudad</mat-label>
            <input matInput type="text" formControlName="name">
            <button *ngIf="!!form.get('name')?.value" matSuffix mat-icon-button aria-label="Clear"
                (click)="form.get('name')?.setValue('')">
                <mat-icon>clear</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Habitantes</mat-label>
            <input matInput type="number" formControlName="population">
        </mat-form-field>

        <mat-form-field>
            <mat-label>País</mat-label>
            <mat-select formControlName="country_code">
                <mat-option value=""></mat-option>
                <mat-option *ngFor="let p of paises2 | async" [value]="p.code">{{p.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" >
        <button type="submit" mat-raised-button color="primary"
        [disabled]="form.invalid">Guardar</button>
        <button type="reset" mat-stroked-button>Limpiar</button>
    </div>
</form>